## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Emba,KZ,48.8264,58.1442,75.79,47,34,6.69,scattered clouds
1,1,Tara,RU,56.8944,74.3710,75.60,59,90,7.70,overcast clouds
2,2,Rikitea,PF,-23.1203,-134.9692,72.90,74,12,16.42,light rain
3,3,Cabo San Lucas,MX,22.8909,-109.9124,86.61,61,41,3.00,scattered clouds
4,4,Upernavik,GL,72.7868,-56.1549,45.72,77,100,5.06,light rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 70

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,East London,ZA,-33.0153,27.9116,52.74,62,0,12.66,clear sky
8,8,Jumla,NP,29.2747,82.1838,69.17,82,84,5.23,broken clouds
9,9,Vila Velha,BR,-20.3297,-40.2925,69.75,68,100,9.22,overcast clouds
11,11,Hermanus,ZA,-34.4187,19.2345,52.79,62,70,2.10,broken clouds
12,12,Hobart,AU,-42.8794,147.3294,53.46,72,75,10.36,light rain
13,13,Severo-Kurilsk,RU,50.6789,156.1250,56.10,85,27,10.02,scattered clouds
20,20,Norman Wells,CA,65.2820,-126.8329,64.44,52,20,8.05,few clouds
26,26,Lerwick,GB,60.1545,-1.1494,53.60,85,73,12.19,broken clouds
29,29,New Norfolk,AU,-42.7826,147.0587,53.10,76,100,1.99,light rain
30,30,Albany,US,42.6001,-73.9662,65.17,87,0,4.16,clear sky

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                2
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_preferred_cities_df = preferred_cities_df.dropna()

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,East London,ZA,52.74,clear sky,-33.0153,27.9116,
8,Jumla,NP,69.17,broken clouds,29.2747,82.1838,
9,Vila Velha,BR,69.75,overcast clouds,-20.3297,-40.2925,
11,Hermanus,ZA,52.79,broken clouds,-34.4187,19.2345,
12,Hobart,AU,53.46,light rain,-42.8794,147.3294,
13,Severo-Kurilsk,RU,56.10,scattered clouds,50.6789,156.1250,
20,Norman Wells,CA,64.44,few clouds,65.2820,-126.8329,
26,Lerwick,GB,53.60,broken clouds,60.1545,-1.1494,
29,New Norfolk,AU,53.10,light rain,-42.7826,147.0587,
30,Albany,US,65.17,clear sky,42.6001,-73.9662,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    ## 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    try:
         # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    # If an error is experienced, skip the city.
    except:
        print("City Hotel not found. Skipping...")
        pass
  

    # Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

City Hotel not found. Skipping...
City Hotel not found. Skipping...
City Hotel not found. Skipping...
City Hotel not found. Skipping...
City Hotel not found. Skipping...

ConnectionError: HTTPSConnectionPool(host='maps.googleapis.com', port=443): Max retries exceeded with url: /maps/api/place/nearbysearch/json?radius=5000&type=lodging&key=AIzaSyAgQCuMIeGumKDUYJyRoPITU6azTNDfBj0&location=-38.2333%2C146.4 (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x0000027C6EBD8288>: Failed to establish a new connection: [WinError 10060] A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond'))

In [11]:
# 7. Drop the rows where there is no Hotel Name.
No_Hotel_value = "NaN"
hotel_df.replace("",No_Hotel_value, inplace=True)
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,East London,ZA,52.74,clear sky,-33.0153,27.9116,Tu Casa
8,Jumla,NP,69.17,broken clouds,29.2747,82.1838,Royal Garden Hotel
9,Vila Velha,BR,69.75,overcast clouds,-20.3297,-40.2925,Hotel Vitória Palace
11,Hermanus,ZA,52.79,broken clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
12,Hobart,AU,53.46,light rain,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
...,...,...,...,...,...,...,...
303,Port-Cartier,CA,63.75,broken clouds,50.0334,-66.8654,NaN
305,Mlowo,TZ,61.59,overcast clouds,-9.0000,32.9833,NaN
307,Kurumkan,RU,62.82,overcast clouds,54.3000,110.3000,NaN
309,Peterhead,GB,55.80,overcast clouds,57.5058,-1.7981,NaN
312,Digby,CA,59.72,clear sky,44.6169,-65.7655,NaN

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(50.0, -20.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figur
fig

Figure(layout=FigureLayout(height='420px'))